<!-- Feature 2.2 - Menu -->
<!-- Navigation bar displayed on every page with links to the Pokemon index, Types page, and About page -->

<!-- Bootstrap nav bar displayed on every page -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <!-- Using Bootstrap css to center the navbar content -->
  <div class="container">
    <!-- Title that links back to the homepage -->
    <%= link_to "Pokemon Rails Explorer", root_path, class: "navbar-brand fw-bold" %>

    <div class="navbar-nav ml-auto">
      <%= link_to "Pokémon", pokemon_index_path, class: "nav-link" %>
      <%= link_to "Types", types_path, class: "nav-link"%>
      <%= link_to "About", about_path, class: "nav-link" %>
    </div>

    <!-- Feature 4.1 - Simple Search -->
    <!-- Search form sends user to the Pokemon index page with a search query -->
    <%= form_with url: pokemon_index_path, method: :get, local: true, class: "d-flex" do %>

      <!-- Search input -->
      <!-- params[:search] saves the previous search after submitting -->
      <%= text_field_tag :search,
          params[:search],
          class: "form-control me-2",
          placeholder: "Search Pokemon..." %>

      <!-- Search button -->
      <%= submit_tag "Search", class: "btn btn-light" %>

    <% end %>
  </div>
</nav>